{% extends 'base.html' %}

{% block title %}Dashboard - Tune Tracker{% endblock %}

{% block content %}

            <div class="dashboard-content px-3 pt-4 d-flex justify-content-end">
                <div class="row">
                    <!-- Song Cards -->
<div class="col-md-8">
    <p class="h3 text-light">Recent Songs</p>
    <div class="row">
        {% for song in songs %}
        <div class="col-12 col-md-6 col-lg-4 mb-4 position-relative">
            <div class="card bg-secondarycolor border-3 rounded-3" style="width: 15rem;">
                <div class="aspect-ratio-container">
                    {% if song.cover_image %}
                    <img src="{{ song.cover_image.url }}" class="card-img-top img-fluid aspect-ratio" alt="{{ song.title }}" style="object-fit: cover;">
                    {% else %}
                    <img src="https://img.freepik.com/free-photo/volumetric-musical-background-with-treble-clef-notes-generative-ai_169016-29576.jpg?w=1380&t=st=1705047605~exp=1705048205~hmac=1ac3a10656ccf07b8e08af9e9ddbf0f79980614c7b8b6ee3afbe198465550a3d" class="card-img-top img-fluid aspect-ratio" alt="{{ song.title }}" style="object-fit: cover;">
                    {% endif %}
                    <div class="play-button-container" onclick="openModal('{{ song.music_video_url }}')">&#9654;</div>
                </div>
                <div class="card-body">
                    <a href="{% url 'song_detail' song_id=song.id %}" class="text-decoration-none text-reset">
                        <p class="h4 text-white">{{ song.title }}</p>
                    </a>
                    <a href="{% url 'artist_detail' artist_id=song.artist.id %}" class="text-decoration-none text-reset">
                        <p class="h6 text-white">{{ song.artist.name }}</p></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Song Cards End -->
                    <!-- Artists Component -->
<div class="col-md-4">
    <div class="row">
        <p class="h3 text-light d-flex justify-content-center">Artists</p>
        {% for artist_instance in artist %}
        <!-- Artist Card -->
        <div class="col-12 mb-4 d-flex justify-content-center">
            <div class="card bg-secondarycolor border-3 rounded-3 text-center" style="width: 10rem; height: 8rem;">
                <div class="d-flex align-items-center justify-content-center" style="height: 70px;">
                    {% if artist_instance.profile_picture %}
                        <img src="{{ artist_instance.profile_picture.url }}" alt="{{ artist_instance.name }}" class="rounded-circle p-2" style="width: 70px; height: 70px; object-fit: cover;">
                    {% else %}
                        <img src="https://example.com/default-image.jpg" alt="{{ artist_instance.name }}" class="rounded-circle p-2" style="width: 70px; height: 70px; object-fit: cover;">
                    {% endif %}
                </div>
                <div class="card-body">
                    <p class="h5 text-white">{{ artist_instance.name }}</p>
                </div>
            </div>
        </div>
        <!-- Artist Card End -->
        {% endfor %}
    </div>
</div>
<!-- Artists Component End -->

<!-- Modal -->
<div class="modal" id="myModal" tabindex="-1">
    <div class="modal-content">
        <span onclick="closeModal()" class="close-button" title="Close">&times;</span> 
        <iframe style="border-radius: 12px" id="spotifyIframe"  width="100%" height="100%" frameborder="0" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>
</div>

<script>
    var globalEmbedUrl;  

    function openModal(trackUri) {
        globalEmbedUrl = trackUri;  
        document.getElementById('spotifyIframe').src = globalEmbedUrl;
        document.getElementById('myModal').style.display = 'block';

        document.getElementById('myModal').focus();

        document.addEventListener('keydown', closeModalOnEscape);
    }

    function closeModal() {
        document.getElementById('spotifyIframe').src = '';
        document.getElementById('myModal').style.display = 'none';

        document.removeEventListener('keydown', closeModalOnEscape);
    }

    function closeModalOnEscape(event) {
        if (event.key === 'Escape' || event.key === 'Esc') {
            closeModal();
        }
    }
</script>

{% endblock %}
